<p><strong>Chair:</strong><br>
Melissa Gilbert<br>
309 Gladfelter Hall<br>
<a href="tel:2152045482">(215) 204-5482</a><br>
<a href="mailto:mgilbert@temple.edu">mgilbert@temple.edu</a></p>
<hr>
<p><strong>Graduate Chair:</strong><br>
Kevin A. Henry<br>
313B Gladfelter Hall<br>
<a href="mailto:khenry1@temple.edu">khenry1@temple.edu</a></p>
<hr>
<p><strong>Administrator:</strong><br>
Maggie Cogswell<br>
1008A Gladfelter Hall<br>
<a href="tel:2152049209">(215) 204-9209</a><br>
<a href="mailto:tuf70408@temple.edu">tuf70408@temple.edu</a></p>
<hr>
<p><strong>Coordinator:</strong><br>
Julia Falcon<br>
338A Gladfelter Hall<br>
<a href="tel:2152043386">(215) 204-3386</a><br>
<a href="mailto:julia.falcon@temple.edu">julia.falcon@temple.edu</a></p>
