<p><strong>Chair:</strong><br>
Melissa Gilbert<br>
309 Gladfelter Hall<br>
<a href="tel:2152045482">(215) 204-5482</a><br>
<a href="mailto:mgilbert@temple.edu">mgilbert@temple.edu</a></p>
<hr>
<p><strong>Undergraduate Chair:</strong><br>
Jeremy Mennis<br>
328 Gladfelter Hall<br>
<a href="tel:2152044748">(215) 204-4748</a><br>
<a href="mailto:jmennis@temple.edu">jmennis@temple.edu</a></p>
<hr>
<p><strong>Senior Manager, Administration:</strong><br>
Vicki Giammarco<br>
308 Gladfelter Hall<br>
<a href="tel:2152047692">(215)204-7692</a><br>
<a href="mailto:vicki.giammarco@temple.edu">vicki.giammarco@temple.edu</a></p>
<hr>
<p><strong>Coordinator:</strong><br>
Liz Janczewski<br>
338A Gladfelter Hall<br>
<a href="tel:2152043386">(215)204-3386</a><br>
<a href="mailto:liz.janczewski@temple.edu">liz.janczewski@temple.edu</a></p>
