<div>
  <h2>Emeritus Faculty</h2>
  
<p>Retired and emeriti professors maintain connections to the Department but rarely teach courses. Emeriti professors also may retain office space or other privileges in the Department.</p>
</div>
<div>
   <ul>
    <li><a href="https://liberalarts.temple.edu/academics/faculty/adams-carolyn">Carolyn Adams</a></li>
    <li><a href="https://liberalarts.temple.edu/academics/faculty/cybriwsky-roman">Roman Cybriwsky</a></li>
    <li><a href="https://liberalarts.temple.edu/academics/faculty/sanders-rickie">Rickie Sanders</a></li> 
    <li><a href="mailto:pawling@temple.edu">Marilyn Silberfein</a></li>
 </ul>
</div>
<HR WIDTH="100%" SIZE="3" COLOR="#A41E35"> 
