<div>
  <h2>Graduate Students</h2>
    <p>Our highly selected PhD students are an intricate part of the learning and teaching experience here in the Deparment of Criminal Justice. Our graduate students conduct research, teach courses and work closely with various faculty members and students throughout the department. You can view a complete list of <a href="https://liberalarts.temple.edu/sites/liberalarts/files/gradstudentpubs030318edited%20%281%29.docx">Graduate Student Publications.</a></p>
  </div>
<div class="container">
  <div class="row">
    <div class="col s12 m6" <br>
      <b></b>
      <ul>
        <li><a href="https://liberalarts.temple.edu/juwan-z-bennett" title="Juwan Z. Bennett">Juwan Z. Bennett</a></li>
        <li><a href="https://liberalarts.temple.edu/chelsey-cain" title="Chelsey Cain">Chelsey Cain</a></li>
        <li><a href="https://liberalarts.temple.edu/jung-cho" title="Jung Cho">Jung Cho</a></li>
        <li><a href="https://liberalarts.temple.edu/chelsey-donohoe" title="Chelsey Donohoe">Chelsey Donohoe</a></li>
        <li><a href="https://liberalarts.temple.edu/mollie-ducoste" title="Mollie Ducoste">Mollie Ducoste</a></li>
        <li><a href="https://liberalarts.temple.edu/jillian-eidson" title="Jillian Eidson">Jillian Eidson</a></li>
        <li><a href="https://liberalarts.temple.edu/john-farrell" title="John Farrell">John Farrell</a></li>
        <li><a href="https://liberalarts.temple.edu/ryan-fisher" title="Ryan Fisher">Ryan Fisher</a></li>
        <li><a href="https://liberalarts.temple.edu/nili-gesser" title="Nili Gesser">Nili Gesser</a></li>
        <li><a href="https://liberalarts.temple.edu/leah-hamilton" title="Leah Hamilton">Leah Hamilton</a></li>
        <li><a href="https://liberalarts.temple.edu/courtney-harding" title="Courtney Harding">Courtney Harding</a></li>
        <li><a href="https://liberalarts.temple.edu/robert-heinzeroth" title="Robert Heinzeroth">Robert Heinzeroth</a></li>
        <li><a href="https://liberalarts.temple.edu/abigail-henson" title="Abigail Henson">Abigail Henson</a></li>
        <li><a href="https://liberalarts.temple.edu/bria-higgs" title="Bria Higgs">Bria Higgs</a></li>
      </ul>
    </div>

    <div class="row">
      <div class="col s12 m6" <br>
        <b></b>
        <ul>
          <li><a href="https://liberalarts.temple.edu/ingrid-johnson" title="Ingrid Johnson">Ingrid Johnson</a></li>
          <li><a href="https://liberalarts.temple.edu/nicole-johnson" title="Nicole Johnson">Nicole Johnson</a></li>
          <li><a href="Evangelica Juarez" title="Evangelica Juarez">Evangelica Juarez</a></li>
          <li><a href="https://liberalarts.temple.edu/hannah-klein" title="Hannah Klein">Hannah Klein</a></li>
          <li><a href="https://liberalarts.temple.edu/josh-koehnlein" title="Josh Koehnlein">Josh Koehnlein</a></li>
          <li><a href="https://liberalarts.temple.edu/megan-forney" title="Megan Forney">Megan Forney</a></li>
          <li><a href="https://liberalarts.temple.edu/alyssa-mendlein" title="Alyssa Mendlein">Alyssa Mendlein</a></li>
          <li><a href="https://liberalarts.temple.edu/veronica-nelson" title="Veronica Nelson">Veronica Nelson</a></li>
          <li><a href="https://liberalarts.temple.edu/michele-pich" title="Michele Pich">Michele Pich</a></li>
          <li><a href="https://liberalarts.temple.edu/danielle-stanford" title="Danielle Stanford">Danielle Stanford</a></li>
          <li><a href="https://liberalarts.temple.edu/dijon-e-talley" title="Dijonee Talley">Dijonee Talley</a></li>
          <li><a href="https://liberalarts.temple.edu/katorah-williams" title="Katorah Williams">Katorah Williams</a></li>
          <li><a href="https://liberalarts.temple.edu/kelly-waltman-spreha" title="Kelly Waltman Spreha">Kelly Waltman Spreha</a></li>
          <li><a href="https://liberalarts.temple.edu/shane-richard-winslow" title="Shane Richard Winslow">Shane Richard Winslow</a></li>
        </ul>
      </div>
    </div>
  </div>
