<div>
  <h2>Postdoctoral Fellow in the Liberal Arts</h2>
  
<p>The Department of Geography and Urban Studies postdoctoral fellows are an intricate part of our teaching experience. They teach a wide array of courses within the department and work closely with students, faculty and staff.</p>
</div>
<div>
   <ul>
    <li><a href="https://liberalarts.temple.edu/academics/faculty/lara-henao-wilson">Wilson Lara Henao</a></li> 
 </ul>
</div>

<HR WIDTH="100%" SIZE="3" COLOR="#A41E35">
  
<div>
  <h2>Visiting Researchers</h2>
</div>
<div>
   <ul>
    <li><a href="https://liberalarts.temple.edu/academics/faculty/topete-pozas-carlos">Carlos Topete Pozas</a></li>  
 </ul>
</div>
